@font-face {
    font-family: 'NasalizationRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NasalizationRg-Regular'), url('./nasalization\ rg.woff') format('woff');
    }

/* ----------------------------------------------Custom properties---------------------------------------------- */

:root {
    /* color palette  */
    --first-color: #00BFFF;
    --first-alpha-color: 0, 191, 255, 0.60;
    --second-color: #03203E;
    --second-alpha-color: 0, 206, 209, .60;
    --third-color: #05081B;
    --third-alpha-color: 5, 8, 27, 0.60;
    --white: #FFFFFF;
    --black: #000000;
    /* fonts  */
    --title-font: 'NasalizationRg-Regular', sans-serif;
    --text-font: 'Roboto', sans-serif;
    /* Medidas */
    --max-width: 1200px;
    --header-height: 4rem;
    /* Effects */
    --box-Shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    --text-Shadow: 4px 3px 4px rgba(35, 15, 9, 0.86);
    --glow: #FFF 0px 0px 20px;
    --transitions: all 0.5s ease-out;
}

/* ----------------------------------------------Reset CCS---------------------------------------------- */

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #dedede;
}

a {
    color: var(--third-color);
    transition: var(--transitions);
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2rem;
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 42px;
}

h2 {
    color: var(--first-color);
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 25px;
}

h3 {
    color: var(--first-color);
    margin: 0;
    font-size: 1rem;
    font-family: var(--title-font);
}

h4 {
    color: var(--first-color);
    margin: 0;
    font-size: 1rem;
    font-family: var(--title-font);
}

p {
    color: white;
    font-family: var(--text-font);
    margin: 5px;
}

/* ----------------------------------------------Utilities---------------------------------------------- */

/* .btn {
    color: var(--third-color);
    background-color: var(--first-color);
    border-radius: 5rem;
    margin: .1rem;
    padding: .5rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    font-family: var(--title-font);
}

.btn:hover {
    color: var(--second-color);
    background-color: var(--white);
} */

.none {
    display: none;
}

.full-screen {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------Syte Styles---------------------------------------------- */

/*  Scroll Styles  */

body::-webkit-scrollbar {
    background: var(--third-color);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--first-color);
}

/*  Modal  */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
}

.menu-btn {
    background-color: var(--third-color);
    outline: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
}


/* ---------------------------------------------- Menu ----------------------------------------------*/

.menu-btn svg {
    fill: var(--first-color);
}

.menu {
    background-color: rgba(0, 0, 0, 0.90);
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    font-family: var(--title-font);
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 0px;
    margin: 0px;
}

.menu a:hover {
    color: var(--white);
    text-shadow: var(--glow);
}

/* --- Menu Media Queries--- */

@media screen and (min-width: 1024px) {

    .header {
        -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.92);
        box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.92);
        position: sticky;
        top: 0px;
        padding: 0.5rem;
        height: calc(var(--header-height)-0.5rem);
    }

    .header-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        background-color: transparent; 
    }

    .menu a {
        background-color: transparent;
        padding: 0 1rem;
    }

    .menu a:last-child {
        padding-right: 0;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--white);
    }

}

/* ---------------------------------------------- Header CSS---------------------------------------------- */

.header {
    background: rgba(0, 0, 0, 0.192);
    box-shadow: 0 0px 30px 0 rgba(0, 191, 255, 0.50);
    backdrop-filter: blur(7.0px);
    -webkit-backdrop-filter: blur(5.0px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: .5rem 1rem .5rem 1rem;
    width: 100%;
    height: var(--header-height);
}

.header>.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 3rem;
    max-height: 3rem;
}

.logo:hover {
    filter: drop-shadow(var(--glow));
}

#particles-js {
    background-image: url("/assets/hero-image-3.webp");
}

/* ---------------------------------------------- Home hero Image CSS---------------------------------------------- */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    position: absolute;
}

#particles-js {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.home h1 {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    text-shadow: var(--text-Shadow);
}

.home h2 {
    text-align: center;
    font-size: 2rem;
    text-shadow: var(--text-Shadow);
}

.title-type a {
    color: var(--white);
}

@media screen and (min-width: 1024px) {

    .home h1 {
        color: var(--white);
        text-align: center;
        font-size: 3rem;
        text-shadow: var(--text-Shadow);
    }

    .home h2 {
        text-align: center;
        font-size: 3rem;
        text-shadow: var(--text-Shadow);
    }

}

/*  --------------------------------------- Button --------------------------------------- */

.body-button,
.body-button::after {
    padding: 10px 15px;
    margin: 5px;
    width: auto;
    font-family: var(--title-font);
    background: linear-gradient(45deg, transparent 5%, #00BFFF 5%);
    border: 0;
    color: var(--third-color);
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #ffffff;
    outline: transparent;
    position: relative;
}

.menu-button,
.menu-button::after {
    padding: 8px 0px;
    margin: 5px;
    width: auto;
    font-family: var(--title-font);
    background: linear-gradient(45deg, transparent 5%, #00BFFF 5%);
    border: 0;
    color: var(--third-color);
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #ffffff;
    outline: transparent;
    position: relative;
}

.body-button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "CLICK ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #ffffff 3%, #00e6f6 5%, #00BFFF 5%);
    text-shadow: -3px -3px 0px #f8f405, 3px 3px 0px #ffffff;
    clip-path: var(--slice-0);
}

.menu-button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "CLICK ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #ffffff 3%, #00e6f6 5%, #00BFFF 5%);
    text-shadow: -3px -3px 0px #f8f405, 3px 3px 0px #ffffff;
    clip-path: var(--slice-0);
}

.body-button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

.menu-button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
}

10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
}

20% {
    clip-path: var(--slice-1);  
    transform: translate(-10px, 10px);
}

30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
}

40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
}

50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
}

60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
}

70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
}

80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
}

90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
    }

100% {
    clip-path: var(--slice-1);
    transform: translate(0);
}

}


/* ---------------------------------------------- Web Container CSS---------------------------------------------- */

.web-container {
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* ---------------------------------------------- Profile ---------------------------------------------- */

.profile-content {
    background: linear-gradient(145deg, #c8c8c8, #eeeeee);
    box-shadow: 12px 12px 31px #adadad,
        -12px -12px 31px #ffffff;
    margin: 40px 20px;
    padding: 10px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "my-profile";
    /* Styles  */
    border-radius: 20px;
}

.profile-card-tex p {
    color: var(--white);
    text-align: center;
    font-size: 16px;
}

.profile-card {
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(5.0px);
    -webkit-backdrop-filter: blur(5.0px);
    border-left: 2px solid var(--first-color);
    border-right: 2px solid var(--first-color);
    border-radius: 20px;
}

.my-profile {
    grid-area: my-profile;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.my-profile h2{
    text-shadow: var(--text-Shadow);
}

.title-frontend {
    color: var(--white);
}

.profile img {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border-bottom: 1px solid var(--first-color);
    /* border-radius: 10px; */
}

@media screen and (min-width: 1024px) {

    .profile-content {
        max-width: 900px;
        height: auto;
        margin-top: 7rem;
    }

    .my-profile {
        display: grid; 
        grid-template-columns: 30% 40% 30%; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "profile-card-pic profile-card-tex profile-card-hob";
        margin: 20px;

    }

    .profile-card-pic {
        grid-area: profile-card-pic;
        margin: 10px;
        padding: 10px;
    }

    .profile-card-tex {
        grid-area: profile-card-tex;
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
    }

    .profile-card-tex p {
        color: var(--white);
        text-align: center;
        font-size: 19px;
    }

    .profile-card-hob {
        grid-area: profile-card-hob;
        margin: 10px;
        padding: 10px;
    }

    .download-cv {
        margin: 0;
    }

}

@media screen and (max-width: 460px) {

    .profile-content {
        margin-top: 2.5rem;
    }

}

/* ---------------------------------------------- Education ---------------------------------------------- */

.education-content {
    margin: 40px 20px;
    padding: 10px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "ducation-card-tex"
        "experience-card-tex";
    /* Styles  */
    border-radius: 20px;
}

.education-card-tex {
    grid-area: education-card-tex;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.experience-card-tex {
    grid-area: experience-card-tex;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (min-width: 1024px) {

    .education {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "education-card-tex experience-card-tex";
        margin: 20px;
    }

    .education-card-tex {
        grid-area: education-card-tex;
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 15px;
        padding: 10px;
    }

    .education-card-tex p {
        text-align: justify;
    }

    .fucn p, .itm p, .poli p {
        text-align: center;
    }

    .experience-card-tex {
        grid-area: experience-card-tex;
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 15px;
        padding: 10px;
    }

    .experience-card-tex p {
        text-align: justify;
    }

    .sura p, .une p {
        text-align: center;
    }


}

@media screen and (max-width: 460px) {

    .profile-content {
        margin-top: 2.5rem;
    }

}

/* ---------------------------------------------- Skills ---------------------------------------------- */

.skills-content {
    margin: 40px 20px;
    padding: 10px;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        "skills1"
        "skills2"
        "tech"
        "tools";
    /* Styles  */
    border-radius: 20px;
}

.skills1 { 
    grid-area: skills1;
    margin: 10px;
    padding: 10px;
}

.skills1 h2 { 
    text-align: center;
}

.skills1 p { 
    text-align: center;
}

.skills2 { 
    grid-area: skills2; 
}

.skills2 h2 { 
    text-align: center;
}

.skills2 p { 
    text-align: center;
}

.tech { 
    grid-area: tech;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools { 
    grid-area: tools;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech img, .tools img{
    width: 40px;
    height: 40px;
    border: none;
    margin: 5px;
    border-radius: 0px;
}


@media screen and (min-width: 1024px) {

    .skills {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "skills1 skills2"
            "tech tools"; 
        margin: 20px;
    }

    .skills1 { 
        grid-area: skills1;
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px; 
        margin: 20px;
    }
    .skills2 { 
        grid-area: skills2;
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px; 
        margin: 20px;
    }

    .skills1 p, .skills2 p { 
        text-align: center;
        padding: 5px;
    }

    .tech { 
        grid-area: tech;
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tools { 
        grid-area: tools; 
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 20px;
    }

    .tech img, .tools img{
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 0px;
        margin: 5px;
    }

    .logos-front {
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 5px;
        padding: 5px;
    }

    .logos-back {
        border-left: 1px solid var(--first-color);
        border-right: 1px solid var(--first-color);
        border-radius: 20px;
        margin: 5px;
        padding: 5px;
    }

    .flex-tool {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px;
        padding: 5px;
    }

}

@media screen and (max-width: 460px) {

    .profile-content {
        margin-top: 2.5rem;
    }

}


/* ---------------------------------------------- Portfolio Container CSS---------------------------------------------- */


.profile-card {
    margin: 20px
}

.project-card {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 40% 60%; 
    gap: 0px 0px; 
    grid-template-areas: 
        "project-card-pic" 
        "project-card-text";
    border: 1px solid var(--first-color);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.project-card-pic { 
    grid-area: project-card-pic;
}
.project-card-text { 
    grid-area: project-card-text; 
}

.project-card-text p {
    text-align: center;
}

.project-card-pic img { 
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.project-card-pic img:hover { 
    box-shadow: var(--glow)
}

.techs img {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0px;
    margin: 5px;
}

.project-btns a {
    width: 220px;
    padding: 5px;
    margin: 0px;
}

@media screen and (min-width: 1024px) {

    .project-card {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "project-card-pic project-card-text";
            border-top: 1px solid var(--first-color);
            border-bottom: 1px solid var(--first-color);
            border-radius: 20px;
            margin: 20px;
    }

    .project-card-pic { 
        grid-area: project-card-pic; 
    }
    .project-card-text { 
        grid-area: project-card-text; 
    }

    .project-card-pic img { 
        width: 350px;
        height: 200px;
        border-radius: 10px;
        margin: 0px;
    }

    .project-card-pic img:hover { 
        box-shadow: var(--glow)
    }
    
    .techs img {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 0px;
        margin: 5px;
    }
    
    .project-btns a {
        width: 300px;
        padding: 5px;
        margin: 0px;
    }

    }

@media screen and (max-width: 460px) {

    .profile-content {
        margin-top: 2.5rem;
    }

}




/* ---------------------------------------------- Contact Container CSS---------------------------------------------- */

.contact {
    display: flex;
    justify-content: center;
}


.contact-form {
    background: linear-gradient(145deg, #c8c8c8, #eeeeee);
    box-shadow: 12px 12px 31px #adadad,
        -12px -12px 31px #ffffff;
    margin: 0px 0px;
    padding: 10px;
    max-width: var(--max-width);
    margin: 20px;
    margin-top: 5rem;
    border-radius: 20px;
}

.contact-form>* {
    margin: 1rem auto;
    padding: 0.5rem;
    display: block;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    font-size: 0.85rem;
    color: var(--white);
    font-family: var(--title-font);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(5.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 5px;
}

.contact-form input {
    border: 0;
    border-bottom: thin solid var(--first-color);
}

.contact-form textarea {
    border: thin solid var(--first-color);
    resize: none;
    border-radius: 10px;
}

.contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--third-color);
    transition: var(--transitions);
}

.contact-form input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--third-color);
}

.contact-form *::placeholder {
    color: var(--first-color);
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white);
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--third-color);
    color: var(--first-color);
    border: thin solid var(--first-color);
    border-radius: 10px;
}

.contact-form h2 {
    text-shadow: var(--text-Shadow);
}

contact-form-loader img {
    margin: 0;
}

loader-none img {
    display: none;
}

.contact-form a {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.contact-form img {
    width: 45px;
    height: 45px;
    margin: 0px;
    padding: 0px;
}

.contact-form img:hover {
    transition: var(--transitions);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

/* Contact CSS media queriEs*/

@media screen and (min-width: 1024px) {

    .contact-form {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        width: 800px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }

    .contact-form textarea {
        grid-column: span 2;
    }

    .contact-form h2 {
        grid-column: span 2;
        margin: 0;
    }

    .contact-form-loader {
        grid-column: span 2;
    }

    .contact-form input[type="submit"] {
        margin-left: 0;
    }

}


/* ---------------------------------------------- Footer ---------------------------------------------- */

.footer {
    display: none;
}

@media screen and (min-width: 1024px) {

    .footer {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(7.0px);
        -webkit-backdrop-filter: blur(5.0px);
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 999;
        padding: .5rem 1rem .5rem 1rem;
        width: 100%;
        height: 2rem;
        background: rgba(0, 0, 0, 0.70);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(7.0px);
        -webkit-backdrop-filter: blur(5.0px);
        display: flex;
        justify-content: center;
    }

}